<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>image input</title>
</head>
<body>
    <div class="main">
        <div class="inside">
            <form action="/predict" method="POST"  enctype="multipart/form-data">
                <label for="img">Select source image:</label>
                <input type="file" id="img" name="img">
                <input type="submit" value="predict">
            </form>
        </div>
        <form action="/train" method="POST">
            <input type="submit" value="train">
        </form>
        <div>
        </div>
    </div>
</body>
</html>